* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header #branding {
    float: left;
    display: flex;
    align-items: center;
}

header .logo {
    margin-right: 10px;
    max-height: 50px;
}

header h1 {
    display: inline;
    margin: 0;
    padding-top: 10px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header .highlight, header .current a {
    color: #77aaff;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
}

section {
    padding: 20px 0;
}

#home {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#home h2 {
    margin-top: 20px;
    font-size: 50px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header nav {
        float: none;
        text-align: center;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
    }

    .container {
        width: 100%;
    }

    header #branding {
        justify-content: center;
    }
}
